#Home {
    
    margin: 140px 8%;
}

.home-header {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
}

.my-name {
    background-image: linear-gradient(243.3deg, rgb(247, 164, 216) 35.7%, rgb(115, 102, 252) 121.6%);
    background-clip: text;
    -webkit-background-clip: text;
    /* For Safari */
    color: transparent;
}
.home-location p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
   
}
.home-intro p{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 65%;
    text-align: center;
}
@media(max-width:730px){
    .home-header{
        font-size: 40px;
    }
    .home-intro p{
        width: 90%;
    }
    #home{
        margin-top: 100px;
    margin-bottom: 100px;
    }
    
}