#Navbar{
    position: sticky;
    top: 1rem;
    z-index: 69;
    color: black;
}
.navbar,
.toggle-dropdown {
    margin-left: 8%;
    margin-right: 8%;
}
.navbar{
    background: linear-gradient(243.3deg, rgb(247, 164, 216) 35.7%, rgb(115, 102, 252) 121.6%);
    /* margin-top: 1rem; */
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.navbar p{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

a {
    color: white;
    text-decoration: none;
}

.navbar-items:hover p {
    filter: blur(2.5px);
    
}

.navbar-items:hover p:hover {
    
    filter: blur(0px);
    transform: translateY(-2px);
    transition: tranfer;
    
}

.navbar-items p {
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

@media(min-width:730px) {

    .hamburger,
    .cancel,
    .toggle-dropdown {
        display: none;
    }
}

@media (max-width:730px) {
    .navbar-items {
        display: none;
    }
    .navbar{
        padding: .6rem .8rem;
        
    }
}

.invincible {
    display: none;
}
.toggle-dropdown{
    
    margin-top: .6rem;
    margin-bottom: .6rem;
}
.toggle-dropdown p{
    background: linear-gradient(243.3deg, rgb(247, 164, 216) 35.7%, rgb(115, 102, 252) 121.6%);
    margin-top:  .6rem;
    margin-bottom: .6rem;
    padding-left: 1rem;
    padding-right:1rem ;
    border-radius: 2rem;
    transition: transform 0.3s ease;
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;
}
.toggle-dropdown p:hover{
    transform: translateX(10px);
}