#Navbar{
    position: sticky;
    top: 0;
    z-index: 69;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    color: white;
    margin-left: 12%;
    margin-right: 12%;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}
a {
    color: white;
    text-decoration: none;
}
.invincible {
    display: none;
}
.navbar{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    padding: .8rem 1.5rem;
    color: white,!important;
}
.navbar p{
    font-size: 1.5rem;
}
.top-nav-bar-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.top-nav-bar-items:hover a {
    filter: blur(2.5px); 
}
.top-nav-bar-items:hover a:hover {
    filter: blur(0px);
    transform: translateY(-2px);
    transition: transfer; 
    color: white;
}
.top-nav-bar-items a {
    cursor: pointer;
    transition: transform 0.3s ease-in;
    color: grey;
    text-decoration: none;
}
.navu-head{
    font-family: 'Raleway', sans-serif;
}
@media(min-width:730px) {
    .hamburger, .cancel, .toggle-dropdown {
        display: none;
    }
}
@media (max-width:730px) {
    .top-nav-bar-items {
        display: none;
    }
    #Navbar{
        margin-left: 0;
        margin-right: 0;
        padding: .5rem;
    }
    .navbar{
        padding: .4rem .8rem;
    }
}
.toggle-dropdown{ 
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: .6rem;
    margin-bottom: .6rem;
    z-index: 10000;
}
.toggle-dropdown p{
    transition: transform 0.3s ease;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}
.toggle-dropdown p:hover{
    transform: translateX(10px);
}