.project-img img{
    width: 600px;
    transition: .3s ease;
}
.project-img img:hover{
    border-radius: 1.2rem;
    transform: scale(1.01);
}
.project-item-div{
    padding: 2rem;
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 1rem;
    transition: .3s ease;
}
.project-item-div:hover{
    transform: scale(1.01);
}
.pro-item-head{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}
.projects-tech *{
    font-size: 2rem;
}
@media (max-width:1455px) and (min-width:1335px){
    .project-img img{
        width: 500px;
    }
}
@media (max-width:1335px) and (min-width:1220px){
    .project-img img{
        width: 400px;
    }
}
@media (max-width:1220px){
    .project-img img{
        width: 550px;
    }
}
.pro-item-details p{
    color: gray;
}